h1 {
  color:cornflowerblue;
  font-family: impact;
}

h2 {
  color:cornflowerblue;
  font-family: arial;
}

img {
  float: left;
  width: 445px;
  border: 5px solid blue;
}

p.intro {
  color: blueviolet;
  font-weight: bold;
  width: 80%;
}

p.author {
  font-family: sans-serif;
  font-weight: 500;
  width: 100%;
}

.important {
  font-family: sans-serif;
  font-weight: bolder;
  overflow: hidden;
  color: navy;
}

.highlight {
  color: green;
  font-family: impact;
  font-weight: bolder: 900;
  width: 100%;
}

.list {
  overflow: hidden;
}

p {
  font-family: arial;
  font-weight: 500;
}

.hobby {
  font-size: x-large;
  color: royalblue;
}

.bold {
  font-weight: bolder;
  color: midnightblue;
}

.right {
  float: right;
}
